# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache


# SQLite database files
*.db
*.sqlite

# CSVs (optional: if you want to ignore raw data)
# /data/*.csv

# Reports generated (e.g., profiling reports)
/reports/
*.html

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variables / secrets
.env

# Virtual environment folders
venv/
.env/
env/
ENV/
.venv/

# OS system files
.DS_Store
Thumbs.db

# VSCode settings (if you use it)
.vscode/

# Ignore log files
logs/
*.log

# Airflow metadata & logs
airflow.db
airflow/
logs/
dags/__pycache__/